In [2]:
# Import required packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

np.random.seed(42)

In [53]:
# Install openpyxl

!pip install openpyxl
import openpyxl

Requirement already satisfied: openpyxl in c:\users\nguye\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\users\nguye\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from openpyxl) (1.1.0)

### Bao cao gia thanh san pham

In [5]:
# List of inputs
'''
- ma_sp: array[string]
- ten_sp: array[string]
- dv_tinh: array[string]
- sl_sx: np.array[int]
- chi_phi_nvl: np.array[float]
- chi_phi_nhan_cong: np.array[float]
- chi_phi_chung: np.array[float]
- gia_ban_dv: np.array[float] = chi_phi_nvl + chi_phi_nhan_cong + chi_phi_chung
- gia_ban_tong: np.array[float] = gia_ban_dv * sl_sx

'''

def GTSP(ma_sp, ten_sp, dv_tinh, sl_sx, chi_phi_nvl, chi_phi_nhan_cong, chi_phi_chung):
    gia_ban_dv = chi_phi_nvl + chi_phi_nhan_cong + chi_phi_chung
    gia_ban_tong = np.dot(gia_ban_dv, sl_sx)
    df = pd.DataFrame({'Mã sản phẩm': ma_sp, 'Tên sản phẩm': ten_sp, 'Đơn vị tính': dv_tinh, 'Số lượng sản xuất': sl_sx, 'Chi phí nguyên vật liệu': chi_phi_nvl, 'Chi phí nhân công': chi_phi_nhan_cong, 'Chi phí chung': chi_phi_chung, 'Giá bán đơn vị': gia_ban_dv, 'Giá bán tổng': gia_ban_tong})
    df.to_excel('test.xlsx', sheet_name='sheet1', index=False, startrow=4, startcol=1)
    return df

In [6]:
# test block
ma_sp = ['SP01', 'SP02', 'SP03']
ten_sp = ['Sản phẩm 1', 'Sản phẩm 2', 'Sản phẩm 3']
dv_tinh = ['Cái', 'Cái', 'Cái']
# the remaining inputs are random in type of numpy arrays
sl_sx = np.random.randint(100, 200, 3)
chi_phi_nvl = np.random.randint(100, 200, 3)
chi_phi_nhan_cong = np.random.randint(100, 200, 3)
chi_phi_chung = np.random.randint(100, 200, 3)
a = GTSP(ma_sp, ten_sp, dv_tinh, sl_sx, chi_phi_nvl, chi_phi_nhan_cong, chi_phi_chung)

### Bao cao tong hop chi phi san xuat

In [8]:
# List of inputs
'''
- chi_phi_nvl: np.array[float]
- chi_phi_nhan_cong: np.array[float]
- chi_phi_chung: np.array[float]
- tong_cong: np.array[float] = chi_phi_nvl + chi_phi_nhan_cong + chi_phi_chung

'''

def BCTC(chi_phi_nvl, chi_phi_nhan_cong, chi_phi_chung):
    tong_cong = chi_phi_nvl + chi_phi_nhan_cong + chi_phi_chung
    df = pd.DataFrame({'Chi phí nguyên vật liệu': chi_phi_nvl, 'Chi phí nhân công': chi_phi_nhan_cong, 'Chi phí chung': chi_phi_chung, 'Tổng cộng': tong_cong})
    df.to_excel('test.xlsx', sheet_name='Sheet2', index=False, startrow=4, startcol=1)
    return df

# test block
chi_phi_nvl = np.random.randint(100, 200, 3)
chi_phi_nhan_cong = np.random.randint(100, 200, 3)
chi_phi_chung = np.random.randint(100, 200, 3)
a = BCTC(chi_phi_nvl, chi_phi_nhan_cong, chi_phi_chung)
a

   Chi phí nguyên vật liệu  Chi phí nhân công  Chi phí chung  Tổng cộng
0                      146                154            150        450
1                      161                163            106        430
2                      150                102            120        372

### Bao cao ket qua kinh doanh noi bo

#### Bao cao thang

In [25]:
# List of inputs
'''
Dòng doanh thu 1
Dòng doanh thu 2
Trả hàng, hoàn tiền, giảm giá
Tổng doanh thu ròng

Giá vốn
Lợi nhuận gộp

Chi phí
Quảng cáo, Khuyến mãi
Khấu hao
Bảo hiểm
Bảo dưỡng 
Văn phòng phẩm
Tiền thuê
Tiền lương, phúc lợi
Viễn thông
Du lịch
Dịch vụ điện, nước, vệ sinh,…
Chi phí khác 1
Chi phí khác 2
Tổng chi phí
Thu nhập trước lãi suất & thuế

Chi phí lãi vay
Thu nhập trước thuế

Thuế thu nhập
Thu nhập ròng 


'''

def bao_cao_thang(doanh_thu1, doanh_thu2, hoan_tien, gia_von, quang_cao, khau_hao, bao_hiem, bao_duong, van_phong_pham, tien_thue, tien_luong, vien_thong, du_lich, dien_nuoc, chi_phi_khac1, chi_phi_khac2, chi_phi_lai_vay, thue_thu_nhap):
    tong_doanh_thu_rong = doanh_thu1 + doanh_thu2 + hoan_tien
    loi_nhuan_gop = tong_doanh_thu_rong - gia_von
    tong_chi_phi = quang_cao + khau_hao + bao_hiem + bao_duong + van_phong_pham + tien_thue + tien_luong + vien_thong + du_lich + dien_nuoc + chi_phi_khac1 + chi_phi_khac2 + chi_phi_lai_vay
    thu_nhap_truoc_lai_suat_thue = loi_nhuan_gop - tong_chi_phi
    thu_nhap_truoc_thue = thu_nhap_truoc_lai_suat_thue - chi_phi_lai_vay
    thu_nhap_rong = thu_nhap_truoc_thue - thue_thu_nhap
    # tao numpy array luu ten cac cot
    ten_cac_chi_tieu = np.array(['Doanh thu 1', 'Doanh thu 2', 'Hoàn tiền, giảm giá', 'Tổng doanh thu ròng', 'Giá vốn', 'Lợi nhuận gộp', 'Quảng cáo, Khuyến mãi', 'Khấu hao', 'Bảo hiểm', 'Bảo dưỡng', 'Văn phòng phẩm', 'Tiền thuê', 'Tiền lương, phúc lợi', 'Viễn thông', 'Du lịch', 'Dịch vụ điện, nước, vệ sinh', 'Chi phí khác 1', 'Chi phí khác 2', 'Tổng chi phí', 'Thu nhập trước lãi suất & thuế', 'Chi phí lãi vay', 'Thu nhập trước thuế', 'Thuế thu nhập', 'Thu nhập ròng'])

    matrix = np.vstack((doanh_thu1, doanh_thu2, hoan_tien, tong_doanh_thu_rong, gia_von, loi_nhuan_gop, quang_cao, khau_hao, bao_hiem, bao_duong, van_phong_pham, tien_thue, tien_luong, vien_thong, du_lich, dien_nuoc, chi_phi_khac1, chi_phi_khac2, tong_chi_phi, thu_nhap_truoc_lai_suat_thue, chi_phi_lai_vay, thu_nhap_truoc_thue, thue_thu_nhap, thu_nhap_rong))
    
    matrix = np.vstack((ten_cac_chi_tieu, matrix.T))
    df = pd.DataFrame(matrix.T, columns=['Tháng', 'Tháng 1',
'Tháng 2',
 'Tháng 3',
 'Tháng 4',
 'Tháng 5',
 'Tháng 6',
 'Tháng 7',
 'Tháng 8',
 'Tháng 9',
 'Tháng 10',
 'Tháng 11',
 'Tháng 12'])
    
    df.to_excel('test.xlsx', sheet_name='Sheet3', index=False, startrow=4, startcol=1)

    return df

# test block
doanh_thu1 = np.random.randint(100, 200, 12)
doanh_thu2 = np.random.randint(100, 200, 12)
hoan_tien = np.random.randint(100, 200, 12)
gia_von = np.random.randint(100, 200, 12)
quang_cao = np.random.randint(100, 200, 12)
khau_hao = np.random.randint(100, 200, 12)
bao_hiem = np.random.randint(100, 200, 12)
bao_duong = np.random.randint(100, 200, 12)
van_phong_pham = np.random.randint(100, 200, 12)
tien_thue = np.random.randint(100, 200, 12)
tien_luong = np.random.randint(100, 200, 12)
vien_thong = np.random.randint(100, 200, 12)
du_lich = np.random.randint(100, 200, 12)
dien_nuoc = np.random.randint(100, 200, 12)
chi_phi_khac1 = np.random.randint(100, 200, 12)
chi_phi_khac2 = np.random.randint(100, 200, 12)
chi_phi_lai_vay = np.random.randint(100, 200, 12)
thue_thu_nhap = np.random.randint(100, 200, 12)
a = bao_cao_thang(doanh_thu1, doanh_thu2, hoan_tien, gia_von, quang_cao, khau_hao, bao_hiem, bao_duong, van_phong_pham, tien_thue, tien_luong, vien_thong, du_lich, dien_nuoc, chi_phi_khac1, chi_phi_khac2, chi_phi_lai_vay, thue_thu_nhap)
a

,Tháng,Tháng 1,Tháng 2,Tháng 3,Tháng 4,Tháng 5,Tháng 6,Tháng 7,Tháng 8,Tháng 9,Tháng 10,Tháng 11,Tháng 12
0,Doanh thu 1,161,122,108,111,100,157,100,133,195,147,188,100
1,Doanh thu 2,115,160,163,162,168,121,192,166,175,125,115,150
2,"Hoàn tiền, giảm giá",185,156,128,177,191,168,146,193,161,168,175,115
3,Tổng doanh thu ròng,461,438,399,450,459,446,438,492,531,440,478,365
4,Giá vốn,189,189,147,184,138,199,132,193,122,109,168,199
5,Lợi nhuận gộp,272,249,252,266,321,247,306,299,409,331,310,166
6,"Quảng cáo, Khuyến mãi",133,151,194,109,118,157,195,100,168,103,115,123
7,Khấu hao,179,101,191,131,190,183,123,111,149,134,132,132
8,Bảo hiểm,160,150,142,111,166,164,132,139,173,142,143,128
9,Bảo dưỡng,112,111,194,145,101,134,186,180,189,107,192,125
10,Văn phòng phẩm,173,189,133,106,167,157,174,128,135,188,120,135
11,Tiền thuê,109,172,123,163,198,148,198,135,181,195,123,122
12,"Tiền lương, phúc lợi",161,195,136,111,154,112,122,188,198,129,116,161
13,Viễn thông,183,188,185,112,158,118,148,199,111,160,118,175
14,Du lịch,108,170,127,177,194,151,182,115,168,198,111,124
15,"Dịch vụ điện, nước, vệ sinh",151,184,199,152,122,115,156,138,152,141,157,138
16,Chi phí khác 1,113,194,104,134,186,192,174,117,175,108,173,157
17,Chi phí khác 2,116,106,145,112,139,141,108,149,126,165,104,128
18,Tổng chi phí,1834,2048,2055,1670,2057,1957,2014,1869,2113,1914,1707,1783
19,Thu nhập trước lãi suất & thuế,-1562,-1799,-1803,-1404,-1736,-1710,-1708,-1570,-1704,-1583,-1397,-1617
20,Chi phí lãi vay,136,137,182,107,164,185,116,170,188,144,103,135
21,Thu nhập trước thuế,-1698,-1936,-1985,-1511,-1900,-1895,-1824,-1740,-1892,-1727,-1500,-1752
22,Thuế thu nhập,169,130,118,160,153,138,190,173,189,118,138,166
23,Thu nhập ròng,-1867,-2066,-2103,-1671,-2053,-2033,-2014,-1913,-2081,-1845,-1638,-1918

In [17]:
a = np.array([1, 2, 3])
b = np.array([4, 5, 6])
d = np.array([7, 8, 9])
c = np.vstack((a, b,d))
c

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

#### Bao cao nam

In [ ]:
def bao_cao_nam(doanh_thu1, doanh_thu2, hoan_tien, gia_von, quang_cao, khau_hao, bao_hiem, bao_duong, van_phong_pham, tien_thue, tien_luong, vien_thong, du_lich, dien_nuoc, chi_phi_khac1, chi_phi_khac2, chi_phi_lai_vay, thue_thu_nhap, first:int, last:int):
    tong_doanh_thu_rong = doanh_thu1 + doanh_thu2 + hoan_tien
    loi_nhuan_gop = tong_doanh_thu_rong - gia_von
    tong_chi_phi = quang_cao + khau_hao + bao_hiem + bao_duong + van_phong_pham + tien_thue + tien_luong + vien_thong + du_lich + dien_nuoc + chi_phi_khac1 + chi_phi_khac2 + chi_phi_lai_vay
    thu_nhap_truoc_lai_suat_thue = loi_nhuan_gop - tong_chi_phi
    thu_nhap_truoc_thue = thu_nhap_truoc_lai_suat_thue - chi_phi_lai_vay
    thu_nhap_rong = thu_nhap_truoc_thue - thue_thu_nhap
    # tao numpy array luu ten cac cot
    ten_cac_chi_tieu = np.array(['Doanh thu 1', 'Doanh thu 2', 'Hoàn tiền, giảm giá', 'Tổng doanh thu ròng', 'Giá vốn', 'Lợi nhuận gộp', 'Quảng cáo, Khuyến mãi', 'Khấu hao', 'Bảo hiểm', 'Bảo dưỡng', 'Văn phòng phẩm', 'Tiền thuê', 'Tiền lương, phúc lợi', 'Viễn thông', 'Du lịch', 'Dịch vụ điện, nước, vệ sinh', 'Chi phí khác 1', 'Chi phí khác 2', 'Tổng chi phí', 'Thu nhập trước lãi suất & thuế', 'Chi phí lãi vay', 'Thu nhập trước thuế', 'Thuế thu nhập', 'Thu nhập ròng'])

    matrix = np.vstack((doanh_thu1, doanh_thu2, hoan_tien, tong_doanh_thu_rong, gia_von, loi_nhuan_gop, quang_cao, khau_hao, bao_hiem, bao_duong, van_phong_pham, tien_thue, tien_luong, vien_thong, du_lich, dien_nuoc, chi_phi_khac1, chi_phi_khac2, tong_chi_phi, thu_nhap_truoc_lai_suat_thue, chi_phi_lai_vay, thu_nhap_truoc_thue, thue_thu_nhap, thu_nhap_rong))
    
    matrix = np.vstack((ten_cac_chi_tieu, matrix.T))
    df = pd.DataFrame(matrix.T, columns=[i for i in range(first, last)])
    
    df.to_excel('test.xlsx', sheet_name='Sheet3', index=False, startrow=4, startcol=1)

    return df

### Bao cao cong no

In [28]:
# List of inputs
'''
- ma-kh
- ten-kh
- dia-chi
- ma-so-thue
- no_dau_ky
- co_dau_ky
- no_phat_sinh
- co_phat_sinh
- no_cuoi_ky = max(no_dau_ky + no_phat_sinh - co_dau_ky - co_phat_sinh, 0)
- co_cuoi_ky = max(co_dau_ky + co_phat_sinh - no_dau_ky - no_phat_sinh, 0)

'''

def BCCN(ma_kh, ten_kh, dia_chi, ma_so_thue, no_dau_ky, co_dau_ky, no_phat_sinh, co_phat_sinh):
    no_cuoi_ky = np.maximum(no_dau_ky + no_phat_sinh - co_dau_ky - co_phat_sinh, 0)
    co_cuoi_ky = np.maximum(co_dau_ky + co_phat_sinh - no_dau_ky - no_phat_sinh, 0)
    df = pd.DataFrame({'Mã khách hàng': ma_kh, 'Tên khách hàng': ten_kh, 'Địa chỉ': dia_chi, 'Mã số thuế': ma_so_thue, 'Nợ đầu kỳ': no_dau_ky, 'Có đầu kỳ': co_dau_ky, 'Nợ phát sinh': no_phat_sinh, 'Có phát sinh': co_phat_sinh, 'Nợ cuối kỳ': no_cuoi_ky, 'Có cuối kỳ': co_cuoi_ky})
    df.to_excel('test.xlsx', sheet_name='Sheet4', index=False, startrow=4, startcol=1)
    return df

# test block
ma_kh = ['KH01', 'KH02', 'KH03']
ten_kh = ['Khách hàng 1', 'Khách hàng 2', 'Khách hàng 3']
dia_chi = ['Địa chỉ 1', 'Địa chỉ 2', 'Địa chỉ 3']
ma_so_thue = ['MST01', 'MST02', 'MST03']
no_dau_ky = np.random.randint(100, 200, 3)
co_dau_ky = np.random.randint(100, 200, 3)
no_phat_sinh = np.random.randint(100, 200, 3)
co_phat_sinh = np.random.randint(100, 200, 3)
a = BCCN(ma_kh, ten_kh, dia_chi, ma_so_thue, no_dau_ky, co_dau_ky, no_phat_sinh, co_phat_sinh)
a

,Mã khách hàng,Tên khách hàng,Địa chỉ,Mã số thuế,Nợ đầu kỳ,Có đầu kỳ,Nợ phát sinh,Có phát sinh,Nợ cuối kỳ,Có cuối kỳ
0,KH01,Khách hàng 1,Địa chỉ 1,MST01,144,157,171,100,58,0
1,KH02,Khách hàng 2,Địa chỉ 2,MST02,112,119,160,102,51,0
2,KH03,Khách hàng 3,Địa chỉ 3,MST03,191,191,138,176,0,38

### Bao cao hang ton kho

#### Bao cao tong hop nhap kho trong ky

In [29]:
# List of inputs
'''
- stt
- ma_vat_tu
- ten_vat_tu
- dv_tinh
- sl_nhap
- thanh_tien_nhap

'''

def BC_nhap_kho(stt, ma_vat_tu, ten_vat_tu, dv_tinh, sl_nhap, thanh_tien_nhap):
    df = pd.DataFrame({'STT': stt, 'Mã vật tư': ma_vat_tu, 'Tên vật tư': ten_vat_tu, 'Đơn vị tính': dv_tinh, 'Số lượng nhập': sl_nhap, 'Thành tiền nhập': thanh_tien_nhap})
    df.to_excel('test.xlsx', sheet_name='Sheet5', index=False, startrow=4, startcol=1)
    return df

# test block
stt = [i for i in range(1, 11)]
ma_vat_tu = ['VT01', 'VT02', 'VT03', 'VT04', 'VT05', 'VT06', 'VT07', 'VT08', 'VT09', 'VT10']
ten_vat_tu = ['Vật tư 1', 'Vật tư 2', 'Vật tư 3', 'Vật tư 4', 'Vật tư 5', 'Vật tư 6', 'Vật tư 7', 'Vật tư 8', 'Vật tư 9', 'Vật tư 10']
dv_tinh = ['kg', 'kg', 'kg', 'kg', 'kg', 'kg', 'kg', 'kg', 'kg', 'kg']
sl_nhap = np.random.randint(100, 200, 10)
thanh_tien_nhap = np.random.randint(100, 200, 10)
a = BC_nhap_kho(stt, ma_vat_tu, ten_vat_tu, dv_tinh, sl_nhap, thanh_tien_nhap)
a

   STT Mã vật tư Tên vật tư Đơn vị tính  Số lượng nhập  Thành tiền nhập
0    1      VT01   Vật tư 1          kg            191              144
1    2      VT02   Vật tư 2          kg            161              131
2    3      VT03   Vật tư 3          kg            162              144
3    4      VT04   Vật tư 4          kg            124              160
4    5      VT05   Vật tư 5          kg            155              146
5    6      VT06   Vật tư 6          kg            132              120
6    7      VT07   Vật tư 7          kg            137              179
7    8      VT08   Vật tư 8          kg            105              184
8    9      VT09   Vật tư 9          kg            157              174
9   10      VT10  Vật tư 10          kg            143              135

#### Bao cao tong hop xuat kho trong ky

In [31]:
# List of inputs
'''
- stt
- ma_vat_tu
- ten_vat_tu
- dv_tinh
- sl_xuat
- thanh_tien_xuat

'''

def BC_xuat_kho(stt, ma_vat_tu, ten_vat_tu, dv_tinh, sl_xuat, thanh_tien_xuat):
    df = pd.DataFrame({'STT': stt, 'Mã vật tư': ma_vat_tu, 'Tên vật tư': ten_vat_tu, 'Đơn vị tính': dv_tinh, 'Số lượng xuât': sl_xuat, 'Thành tiền xuất': thanh_tien_xuat})
    df.to_excel('test.xlsx', sheet_name='Sheet5', index=False, startrow=4, startcol=1)
    return df

# test block
stt = [i for i in range(1, 11)]
ma_vat_tu = ['VT01', 'VT02', 'VT03', 'VT04', 'VT05', 'VT06', 'VT07', 'VT08', 'VT09', 'VT10']
ten_vat_tu = ['Vật tư 1', 'Vật tư 2', 'Vật tư 3', 'Vật tư 4', 'Vật tư 5', 'Vật tư 6', 'Vật tư 7', 'Vật tư 8', 'Vật tư 9', 'Vật tư 10']
dv_tinh = ['kg', 'kg', 'kg', 'kg', 'kg', 'kg', 'kg', 'kg', 'kg', 'kg']
sl_xuat = np.random.randint(100, 200, 10)
thanh_tien_xuat = np.random.randint(100, 200, 10)
a = BC_xuat_kho(stt, ma_vat_tu, ten_vat_tu, dv_tinh, sl_xuat, thanh_tien_xuat)
a

   STT Mã vật tư Tên vật tư Đơn vị tính  Số lượng xuât  Thành tiền xuất
0    1      VT01   Vật tư 1          kg            115              157
1    2      VT02   Vật tư 2          kg            171              159
2    3      VT03   Vật tư 3          kg            175              149
3    4      VT04   Vật tư 4          kg            123              127
4    5      VT05   Vật tư 5          kg            127              191
5    6      VT06   Vật tư 6          kg            107              140
6    7      VT07   Vật tư 7          kg            191              199
7    8      VT08   Vật tư 8          kg            135              163
8    9      VT09   Vật tư 9          kg            189              126
9   10      VT10  Vật tư 10          kg            107              162

### Bao cao luu chuyen tien te

In [46]:
sample = pd.read_excel('C:/Users/nguye/Downloads/Miscellaneous/4Mẫu-số-sách-theo-TT-200.xls', sheet_name='LCTTTT', skiprows=[i for i in range(7, 37)])
sample

8            I. Lưu chuyển tiền từ hoạt động kinh doanh
9        1. Tiền thu từ bán hàng, cung cấp dịch vụ v...
10       2. Tiền chi trả cho người cung cấp hàng hóa...
11                   3. Tiền chi trả cho người lao động
12                              4. Tiền chi trả lãi vay
13          5. Tiền chi nộp thuế thu nhập doanh nghiệp
14             6. Tiền thu khác từ hoạt động kinh doanh
15            7. Tiền chi khác cho hoạt động kinh doanh
16        Lưu chuyển tiền thuần từ hoạt động kinh doanh
17              II. Lưu chuyển tiền từ hoạt động đầu tư
18       1.Tiền chi để mua sắm, xây dựng TSCĐ và các...
19       2.Tiền thu từ thanh lý, nhượng bán TSCĐ và ...
20       3.Tiền chi cho vay, mua các công cụ nợ của ...
21       4.Tiền thu hồi cho vay, bán lại các công cụ...
22            5.Tiền chi đầu tư góp vốn vào đơn vị khác
23        6.Tiền thu hồi đầu tư góp vốn vào đơn vị khác
24       7.Tiền thu lãi cho vay, cổ tức và lợi nhuận...
25            Lưu chuyển tiền thuần từ hoạt động đầu tư
26          III. Lưu chuyển tiền từ hoạt động tài chính
27       1.Tiền thu từ phát hành cổ phiếu, nhận vốn ...
28       2.Tiền chi trả vốn góp cho các chủ sở hữu, ...
29               3.Tiền vay ngắn hạn, dài hạn nhận được
30                            4.Tiền chi trả nợ gốc vay
31                     5.Tiền chi trả nợ thuê tài chính
32           6. Cổ tức, lợi nhuận đã trả cho chủ sở hữu
33         Lưu chuyển tiền thuần từ hoạt động tài chính
34       Lưu chuyển tiền thuần trong kỳ (50 = 20+30+40)
35                      Tiền và tương đương tiền đầu kỳ
36    Ảnh hưởng của thay đổi tỷ giá hối đoái quy đổi...
37     Tiền và tương đương tiền cuối kỳ (70 = 50+60+61)
Name: Unnamed: 2, dtype: object

In [ ]:
# List of chi tieu
''' 
I. Lưu chuyển tiền từ hoạt động kinh doanh
   1. Tiền thu từ bán hàng, cung cấp dịch vụ và doanh thu khác
   2. Tiền chi trả cho người cung cấp hàng hóa và dịch vụ
   3. Tiền chi trả cho người lao động
   4. Tiền chi trả lãi vay
   5. Tiền chi nộp thuế thu nhập doanh nghiệp 
   6. Tiền thu khác từ hoạt động kinh doanh
   7. Tiền chi khác cho hoạt động kinh doanh
Lưu chuyển tiền thuần từ hoạt động kinh doanh
II. Lưu chuyển tiền từ hoạt động đầu tư
   1.Tiền chi để mua sắm, xây dựng TSCĐ và các tài sản dài hạn khác
   2.Tiền thu từ thanh lý, nhượng bán TSCĐ và các tài sản dài hạn khác
   3.Tiền chi cho vay, mua các công cụ nợ của đơn vị khác
   4.Tiền thu hồi cho vay, bán lại các công cụ nợ của đơn vị khác
   5.Tiền chi đầu tư góp vốn vào đơn vị khác
   6.Tiền thu hồi đầu tư góp vốn vào đơn vị khác
   7.Tiền thu lãi cho vay, cổ tức và lợi nhuận được chia
Lưu chuyển tiền thuần từ hoạt động đầu tư
III. Lưu chuyển tiền từ hoạt động tài chính
   1.Tiền thu từ phát hành cổ phiếu, nhận vốn góp của chủ sở hữu
   2.Tiền chi trả vốn góp cho các chủ sở hữu, mua lại cổ phiếu của  doanh nghiệp đã phát hành
   3.Tiền vay ngắn hạn, dài hạn nhận được
   4.Tiền chi trả nợ gốc vay
   5.Tiền chi trả nợ thuê tài chính
   6. Cổ tức, lợi nhuận đã trả cho chủ sở hữu
Lưu chuyển tiền thuần từ hoạt động tài chính
Lưu chuyển tiền thuần trong kỳ (50 = 20+30+40)
Tiền và tương đương tiền đầu kỳ
Ảnh hưởng của thay đổi tỷ giá hối đoái quy đổi ngoại tệ
Tiền và tương đương tiền cuối kỳ (70 = 50+60+61)

'''

# List of inputs
'''
- STT
- chi_tieu
- ma_chi_tieu
- thuyet_minh
- so_nam_nay
- so_nam_truoc

'''

def BC_dong_tien(chi_tieu, ma_chi_tieu, thuyet_minh, so_nam_nay, so_nam_truoc):
    df = pd.DataFrame({'Chi tiêu': chi_tieu, 'Mã chi tiêu': ma_chi_tieu, 'Thuyết minh': thuyet_minh, 'Số năm nay': so_nam_nay, 'Số năm trước': so_nam_truoc})
    df.to_excel('test.xlsx', sheet_name='Sheet6', index=False, startrow=4, startcol=1)
    return df